
body {
	background-image: radial-gradient(white, #f2f2f2);
}


.header {
	color: rgb(255,255,255); /* This is the color of the header text, change it to your liking. */
	text-align: center; /* This is to align the header to the center of the container */
	font-family: headerfont; /* Custom font, see @font-face for details */
	font-size: 100px; /* Scaling, in percent, of the font. You can change this, using percent or pixels. */
	margin-left: 0px; /* These two lines remove left and right margins of the header, it is recommended to always do this */
	margin-right: 0px;
	text-align: center; /* These lines align the text to the center of the container. If you change the height in para.css, change it here */
	vertical-align: middle;
	line-height: 500px;
}

@font-face { /* This makes a custom font. font-family is the name to call the font, and the src is the URL of the font */
	font-family: headerfont;
    src: url("../fonts/header.woff");
}

/* CONTENT */
/* This is where all the content for the page is held, change the properties to your liking! */

.content {
	margin: auto; /* Centers the div element horizontally */
	background-image: radial-gradient(#e8e8e8, white); /* Creates a gradient, you can change the color or make it a solid color */
	width: 90%; /* This makes the width 90% of the page width */
	height: 500px; /* Self explanatory, sets the height */
	box-shadow: 2px 2px 20px black; /* Creates a drop shadow behind the element */
}

/*ANIMATIONS*/


/* These are the animations for the page. If you don't like them, remove them. If you like them, try tweaking the values - see what happens! */
.header {
	transition-duration: 0.4s; /* This is how long transformations take to complete, for example, the scaling of the header on hover. */
}

.header:hover { /*This is the trigger that detects when the user is hovering over an element. */
	transform: scale(1.2); /* The transform trigger is the syntax for a movement - the scale variable tells the element how to transform.
	You can change it if you want! */

	/* This line adds a text shadow at the end of the transition. Tweak the values, or remove it completely to see what's best for you! */
	text-shadow: 2px 2px 5px black;
}